/* .slider { */
/* 	height: 300px; */
/* 	margin: 0 auto 30px; */
/* } */

/* .slider { */
/*     width: 200px; */
/* } */


.not-a-textbox {
    background:rgba(0,0,0,0);
    display: inline-block;
}

.block-inline {
    display: inline;
}


.slider .noUi-base {
    /* background: white; */
}
.slider .noUi-background {
    /* background: white; */
}
.slider .noUi-connect {
    background: #23CF5F;
    /* background: black; */
}

.slider .noUi-handle {
    border: 1px solid black;
}

.noUi-horizontal.noUi-extended .noUi-handle {
    width: 24px;
    height: 20px;
    left: -1px;
    top: -2px;
}


.noUi-horizontal.noUi-extended .noUi-handle:after {
    display: none;
    content: none;
    background: black;

}


.noUi-horizontal.noUi-extended .noUi-handle:before {
    display: none;
    content: none;
    background: black;

}




/* .noUi-horizontal.noUi-extended { */
/* 	padding-right: 32px; */
/* } */
/* .noUi-horizontal.noUi-extended .noUi-handle { */
/*     left: -1px; */
/*     width: 10px; */
/*     height: 10px; */


/* } */
/* .noUi-horizontal.noUi-extended .noUi-origin  { */
/* 	right: -32px; */
/* } */

/* .noUi-handle.noUi-extended { */

/* } */






/* .tuneable-value-left { */
/*     float: right; */
/*     border-style: solid; */
/* } */

/* .tuneable-value-right { */
/*     border-style: solid; */
/* } */
