.not-a-textbox {
    background:rgba(0,0,0,0);
    display: inline-block;
}

.block-inline {
    display: inline;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-xl {
    padding: 18px 28px !important;
    font-size: 22px !important;
    border-radius: 8px !important;
}

.body-block {
    height: auto !important;
    min-height: 100%;
    min-height: 100vh;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: -124px;
    padding-top: 32px;
}

.footer, .push {
    height: 124px;
}

.page-header.borderless {
    border-bottom: None;
}

.slider .noUi-base {
    /* background: white; */
}
.slider .noUi-background {
    /* background: white; */
}
.slider .noUi-connect {
    background: #1ED760;
    /* background: black; */
}

.slider .noUi-handle {
    border: 1px solid black;
}

.noUi-horizontal.noUi-extended .noUi-handle {
    width: 24px;
    height: 20px;
    left: -1px;
    top: -2px;
}

.noUi-horizontal.noUi-extended .noUi-handle:after {
    display: none;
    content: none;
    background: black;

}

.noUi-horizontal.noUi-extended .noUi-handle:before {
    display: none;
    content: none;
    background: black;

}
