{% extends "bootstrap/base.html" %}
{% block styles %}
    <link rel="stylesheet" type= "text/css"
          href="{{url_for('static', filename='styles/extra.css')}}">
    <link rel="stylesheet" type= "text/css"
          href="{{url_for('static', filename='scripts/nouislider/nouislider.min.css')}}">
    {{super()}}
{% endblock %}

{% block title %}Howheavy{% endblock %}

{% from '_form_helpers.html' import render_field, submit_button, render_range_slider, render_checkbox %}

{% block body %}

    <div class="container-fluid">
        {% block content %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endblock %}
    </div>
    {% block scripts %}
        {{super()}}

        <!-- <script src="https://fb.me/react-15.2.1.js"></script>
             <script src="https://fb.me/react-dom-15.2.1.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script> -->
        <!-- <script src="{{ url_for('static', filename='scripts/jsonpipe/jsonpipe.js') }}"></script>
             <script src="http://requirejs.org/docs/release/2.2.0/minified/require.js"></script> -->
        <script src="{{ url_for('static', filename='scripts/nouislider/nouislider.min.js') }}"></script>

    {% endblock %}
{% endblock %}
