{% extends "layout.html" %}
{% block content %}
    {{ super() }}

    <meta id="spotify_access_token" data="{{token}}" />

    <form class="form" method="post" action="#" onsubmit="submit_form();return false;" name="form" id="playlist_gen_form">
        {{ form.hidden_tag() }}<br/>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <div class="" id="loading-alert">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" form-group col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    {{ form.playlist_name.label }}<br/>
                    {{ form.playlist_name }}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            {% for field_set in form.tuneable_fields | batch(2) %}
                {% set element_id = field_set[0]['name'][3:] %}
                {{ render_range_slider(field_set, field_set[0].label, element_id) }}
            {% endfor %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 col-xs-9">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <div class="form-group">
                        <label>Base recommendations on:</label>
                        {% if form.errors['followed_artists'] %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
                                </span>
                                <span class="sr-only">Error:</span>
                                {{ form.errors['followed_artists'] }}
                            </div>
                        {% endif %}
                        {{ render_checkbox(form.followed_artists) }}
                        {% for field in form.time_range_fields %}
                            {{ render_checkbox(field) }}
                        {% endfor %}
                        <br/>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <button class="btn btn-primary" type="submit">
                        Create playlist!
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div id="slider"></div>
    <script>


    </script>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/playlist_generator.js') }}"></script>
    <script>
     var submit_form = function() {
         form = document.getElementById('playlist_gen_form');
         loading_alert = document.getElementById('loading-alert');
         fetch('/playlist_generator', {
             method: 'POST',
             body: new FormData(form),
             credentials: 'same-origin'
         }).then(function(response){
             window.scrollTo(0, 0);
             console.log(response);
             loading_alert.textContent = 'Your playlist has been created!';
             loading_alert.className = 'alert alert-success';

         }).then(function(error){
             console.log(error);
         });
         window.scrollTo(0, 0);
         loading_alert.textContent = 'Your playlist is currently being filled with juicy tracks!';
         loading_alert.className = 'alert alert-info';
     }
    </script>

{% endblock %}
