{% macro render_checkbox(field, classes='checkbox') %}
    <div class="{{ classes }}">
        <label>
            {{ field }} {{ field.label.text|safe }}
        </label>
    </div>
{% endmacro %}

{% macro render_range_slider(fields, label, element_id) %}
    {{ fields[0](type='hidden', **kwargs)|safe }}
    {{ fields[1](type='hidden', **kwargs)|safe }}
    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-9">
            {{ label }}
        </div>
    </div>
    <div class="tuneable row" id="{{ element_id }}">

        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-9">
            <div class="slider noUi-extended" id="{{ 'slider'+element_id }}"></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
            <p>
                <span class="tuneable-value-left" id="{{ 'span_'+fields[0].name }}">
                    {{ fields[0].data }}
                </span>
                -
                <span class="tuneable-value-right" id="{{ 'span_'+fields[1].name }}">
                    {{ fields[1].data }}
                </span>
            </p>
        </div>
    </div>
{% endmacro %}
