{% extends "layout.html" %}
{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <div class="page-header borderless text-center">
            <h1>Spotifetch</h1>
            <p>Make your own huge personalized Spotify playlist in seconds!</p>

        </div>
        <div class="row text-center">
            <div class="col-lg-12">

            <a class="btn btn-xl btn-primary" href="{{ url_for('app_authorize') }}" role="button">
                Get started!
            </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    </div>
{% endblock %}
