{% extends "bootstrap/base.html" %}

{% block styles %}
    <link rel="stylesheet" type= "text/css"
          href="{{url_for('static', filename='styles/extra.css')}}">
    <link rel="stylesheet" type= "text/css"
          href="{{url_for('static', filename='scripts/nouislider/nouislider.min.css')}}">
    {{super()}}
{% endblock %}

{% block title %}Spotifetch - playlist generator{% endblock %}

{% block head %}
    {{super()}}
    <meta name="keywords" content="spotify, playlist, playlists, playlist generator, music" />
    <meta name="description" content="Spotifetch playlist generator uses artists from your Spotify
                                      music library along configurable acoustic attributes to generate
                                      playlists tuned to your liking." />
{% endblock %}



{% from '_form_helpers.html' import render_range_slider, render_checkbox %}

{% block body %}
    <div class="body-block">
        {% block content %}
        {% endblock %}
        <div class="push">
        </div>
    </div>
    <div class="container-fluid">
        <div class="footer text-center">
            <span>
                Copyright © {{ utcnow().year }} Steinþór Pálsson
                - <a href="https://github.com/steinitzu/spotifetch">Source code</a>
            </span>
            <br/>
            <span>
                Contact author:
                <a href="mailto:spotifetch@gmail.com">
                    spotifetch@gmail.com
                </a>
            </span>
            <br/>
            <span>
                Powered by
                <a href="http://spotify.com/">
                    Spotify
                </a>
            </span>
        </div>
    </div>

    {% block scripts %}
        {{super()}}
        <script src="{{ url_for('static', filename='scripts/nouislider/nouislider.min.js') }}"></script>
    {% endblock %}
{% endblock %}
