{% extends "layout.html" %}
{% block content %}
    {{ super() }}

    <meta id="spotify_access_token" data="{{token}}" />

    <form class="form" method="post" action="#" onsubmit="submit_form();return false;" name="form" id="playlist_gen_form">
        {{ form.hidden_tag() }}<br/>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <div class="" id="loading-alert">
                        <span id="loading-alert-text"></span>
                        <a href="" id="loading-alert-link"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" form-group col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    {{ form.playlist_name.label }}<br/>
                    {{ form.playlist_name }}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <label>
                <a href="http://developer.echonest.com/acoustic-attributes.html"
                target="_blank">
                    What do the sliders do? Acoustic attributes explained.
                </a>
            </label>
            {% for field_set in form.tuneable_fields | batch(2) %}
                {% set element_id = field_set[0]['name'][3:] %}
                {{ render_range_slider(field_set, field_set[0].label, element_id) }}
            {% endfor %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 col-xs-9">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <div class="form-group">
                        <label>Get tracks based on:</label>
                        {{ render_checkbox(form.followed_artists) }}
                        {{ render_checkbox(form.saved_album_artists) }}
                        {% for field in form.time_range_fields %}
                            {{ render_checkbox(field) }}
                        {% endfor %}
                        <br/>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-lg-4 col-md-6 col-sm-8 col-xs-9">
                    <button class="btn btn-primary" type="submit" id="submit-button">
                        Create playlist!
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div id="slider"></div>
    <script>


    </script>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/playlist_generator.js') }}"></script>
    <script>
     var enable_submit_button = function() {
         submit_button = document.getElementById('submit-button');
         submit_button.disabled = false;
     };

     var disable_submit_button = function() {
         submit_button = document.getElementById('submit-button');
         submit_button.disabled = true;
     };

     var set_alert = function(text_message, link_message, link_href, alert_class) {
         loading_alert = document.getElementById('loading-alert');
         loading_alert_text = document.getElementById('loading-alert-text');
         loading_alert_link = document.getElementById('loading-alert-link');

         loading_alert_text.textContent = text_message;
         loading_alert_link.textContent = link_message;
         loading_alert_link.href = link_href;
         loading_alert.className = alert_class;
     };

     var interval_id;
     var check_status = function(task_id) {
         fetch('/task_status?task_id='+task_id).then(function(response){
             response.json().then(function(result) {
                 if (result.status === 'SUCCESS'){
                     clearInterval(interval_id);
                     window.scrollTo(0, 0);
                     set_alert('Your playlist has been created. ',
                               'Check it out here!',
                               result.result,
                               'alert alert-success');
                     enable_submit_button();
                     return;
                 };
                 setTimeout(function() { check_status(task_id); }, 5000);
             });
         })

     };

     var submit_form = function() {
         form = document.getElementById('playlist_gen_form');
         set_alert('', '', '', 'alert');
         fetch('/playlist_generator', {
             method: 'POST',
             body: new FormData(form),
             credentials: 'same-origin'
         }).then(function(response){
             window.scrollTo(0, 0);
             if (!response.ok) {
                 response.text().then(function(message) {
                     set_alert(message, '', '', 'alert alert-danger');
                 });
                 return;
             };
             disable_submit_button();
             set_alert('Your playlist is being created!', '', '', 'alert alert-info');

             response.json().then(function(result) {
                 task_id = result['task_id'];
                 interval_id = setTimeout(function() { check_status(task_id); }, 1000);
             });
         });

     }
    </script>

{% endblock %}
